<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>401005727641-86fro96iup0aotbodobkjgr4sq0dud5k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.401005727641-86fro96iup0aotbodobkjgr4sq0dud5k</string>
	<key>API_KEY</key>
	<string>AIzaSyCMKo-nFUlZl_iZMw1ShNJMSSZIzMd6PkE</string>
	<key>GCM_SENDER_ID</key>
	<string>401005727641</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.omni.marzi</string>
	<key>PROJECT_ID</key>
	<string>swift-combine</string>
	<key>STORAGE_BUCKET</key>
	<string>swift-combine.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:401005727641:ios:927599ac56d2c4bb410d08</string>
</dict>
</plist>